<h2>Cadastro de Alunos</h2>

<form (ngSubmit)="adicionarAluno()" #form="ngForm"  style="margin-bottom: 20px;">
<div>
<label >Ra:</label>
<input type="text" [(ngModel)]="novoAluno.ra"
 name="ra" required/>

</div>

<div>
    <label >Nome:</label>
    <input type="text" [(ngModel)]="novoAluno.nome"
     name="nome" required/>
    
    </div>
    
    <div>
        <label >dt.Nascimento:</label>
        <input type="text" 
        [(ngModel)]="novoAluno.dtNascimento"
         name="dtNascimento" required/>
        
        </div>
        
        <div>
            <label >Curso:</label>
            <input type="text" [(ngModel)]="novoAluno.curso"
             name="curso" required/>
            
            </div>
            


</form>
